# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Secrets
*.env
.env.*
Secrets.plist
Config/Secrets.plist
